@import url("shared_css.css");



.container-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom:2%;
    width:100%;
    height:600px;
}

.presentation-img{
    width:50%;
}

.presentation-img-img{
    width:50%;
    margin-left:30%;
    margin-top:7%;
}

.presentation-flex{
    display: flex;
    flex-direction: column;
    width:50%;
    text-align: center;
    margin:auto;
}