<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Morgane BRETON - Compétences</title>

  <link rel="icon" href="../assets/img/icon.ico" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="../assets/css/competences.css">

</head>
<body>
<nav class="navbar">
  <div class="toggle">
    <i class="fas fa-bars ouvrir"></i>
    <i class="fas fa-times fermer"></i>
  </div>
  <div class="navbar-flex">
    <ul class="navbar-nav">
      <li class="nav-item hover-underline-animation">
        <a class="nav-link" href="../index.html">
          Accueil
        </a>
      </li>

      <li class="nav-item hover-underline-animation">
        <a class="nav-link" href="competences.html">
          Mes compétences
        </a>
      </li>

      <li class="nav-item hover-underline-animation">
        <a class="nav-link" href="formations.html">
          Ma formation
        </a>
      </li>

      <li class="nav-item hover-underline-animation">
        <a class="nav-link" href="projets.html">
          Mes projets
        </a>
      </li>
    </ul>
  </div>
</nav>

<h1>Mes compétences</h1>
<div class="competences">
  <div class="container-flex">
    <div class="container-item">
      <h2>Développement Web</h2>
      <ul class="comp">
        <li class="comp-item">
          Front-end
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript / Jquery</li>
          </ul>
        </li>

        <li class="comp-item">
          Back-end
          <ul>
            <li>PHP5</li>
          </ul>
        </li>

        <li class="comp-item">
          CMS : Wix / Wordpress
        </li>

        <li class="comp-item">
          Frameworks : Bootstrap
        </li>

        <li class="comp-item">
          Responsive : Media Queries
        </li>

        <li class="comp-item">
          Outils : Webstorm, PhpStorm, Visual Studio Code
        </li>
      </ul>
    </div>

    <div class="container-item">
      <h2>Bases de données</h2>
      <ul class="comp">
        <li class="comp-item">
          Création et mise à jour d'une base de données
        </li>

        <li class="comp-item">
          Création et utilisation de fonctions et procédures
        </li>

        <li class="comp-item">
          Gestion des contraintes
        </li>

        <li class="comp-item">
          Langages : Norme SQL3
        </li>

        <li class="comp-item">
          Modélisation : UML, MCD Merise
        </li>

        <li class="comp-item">
          Outils : Oracle11g, Access, SQLite
        </li>
      </ul>
    </div>

    <div class="container-item dev_log">
      <h2>Développement logiciel</h2>
      <ul class="comp">
        <li class="comp-item">
          Langages : Java, C / C++, Python
        </li>

        <li class="comp-item">
          Outils : Eclipse, IntelliJ, Visual Studio 2022
        </li>
      </ul>
    </div>
  </div>
  <div class="autre container-item">
    <h2>Autres compétences</h2>
    <ul class="comp">
      <li class="comp-item">
        Github
      </li>

      <li class="comp-item">
        Suite Microsoft Office
      </li>

      <li class="comp-item">
        Connaissances des méthodes agiles (SCRUM)
      </li>

      <li class="comp-item">
        Gestion de projet
      </li>

      <li class="comp-item">
        Français : Langue maternelle
      </li>

      <li class="comp-item">
        Anglais : niveau C1
      </li>
    </ul>
  </div>
</div>


<footer class="footer-flex">
  <a href="https://www.linkedin.com/in/morgane-breton-1016a6200/" target="_blank" class="fa fa-linkedin"></a>
  <a href="https://github.com/momodinoo" target="_blank" class="fa fa-github"></a>

</footer>
<script src="../assets/js/menu.js"></script>
</body>
</html>