@import url("shared_css.css");

h2{
    color:royalblue;
    text-align: center;
    margin-bottom: 10%;
    padding-top:2%;
}

h1{
    font-size:3em;
    margin-top:0%;
    text-align: center;
}

.container-flex{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    margin-bottom:5%;
}

.container-item{
    width:20%;
    border:2px solid white;
    border-radius: 20px;

    margin-top:2%;

    padding-left:2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.container-item li{
    margin-bottom: 2%;
    list-style: none;
}

.container-item ul{
    margin-top: 2%;
    margin-bottom: 5%;

}

.comp{
    width:100%;
    height:400px;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    justify-content: space-around;
    margin-right:2%;
}

.dev_log .comp{
    height:40%;
}

.autre{
    width:20%;
    margin:auto;
    justify-content:initial !important;
}

@media screen and (max-width: 700px) {
    .navbar-nav{
        height:250%;
    }

    .container-flex{
        flex-wrap:wrap;
        gap:20px;
    }

    .container-item{
        width:70%;
        font-size:1.1em;
        padding-left:5%;
        padding-bottom: 2%;
    }

    .container-item:hover{
        box-shadow: none;
    }

    .autre{margin-bottom: 7%;}
}